#team-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.team_pic {
    object-fit: cover;
    width: 125px;
    height: 180px;
    border: 1px solid #000000;
    border-radius: 8px;
}
